@using System.Configuration
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var version = ConfigurationManager.AppSettings["App:Version"];
}
@section Head{
    @Styles.RenderFormat("<link rel=\"stylesheet\" type=\"text/css\" href=\"{0}?v=" + version + "\" />", "~/Content/style.css")
}
<div id="root"></div>

@section scripts{
    <script type="text/javascript">
        @{
            var config = ConfigurationManager.AppSettings;
        }
        var userContext = @Html.Raw(JsonConvert.SerializeObject(new
                          {
                              name = User.Identity.Name,
                              dateFormat = config["App:DateFormat"].ToUpper()
                          }));
        var services = @Html.Raw((string)ViewBag.Services);
        var sso = @Html.Raw(JsonConvert.SerializeObject(new
             {
                 enabled = Convert.ToBoolean(config["SSO:Enabled"]),
                 instance = config["SSO:Instance"],
                 tenant = config["SSO:Tenant"],
                 clientId = config["SSO:ClientID"],
                 redirectUri = config["SSO:RedirectURI"]
             }))
    </script>

    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?v=" + version + "\"></script>", "~/Scripts/bundle.js")
}
